
.main {
    box-sizing: border-box;  
    height: 100vh;
    width: 100vw;   
    background-color: black;
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    padding: 1rem 0 0 3rem;
}
.container {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.inner {
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
}
.outer {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
