/* .main {
    max-height: 100vh;
    max-width: 100vw;
    min-height: 100vh;
    box-sizing: border-box;
    padding: 1.5rem;
    background-color: black;
} */
.container {
    border-radius: 19px;
    background: #5746EA;
    min-width: 20vw;
    max-width: 40vw;
    height: 35vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
    padding: 2rem;
}
.bio > p{
    color: #FFF;
    font-family: Roboto;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 103.188%; /* 21.669px */
    letter-spacing: 0.42px;
    padding: 0.2rem;
}
.bio > h1 {
    color: #FFF;
    font-family: Roboto;
    font-size: 41px;
    font-style: normal;
    font-weight: 500;
    line-height: 66.188%; /* 27.137px */
    letter-spacing: 0.82px;
    padding: 0.2rem;
}
.genre {
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
    margin-top: 1rem;
}
.genre > p {
    border-radius: 21px;
    background: #9F94FF;
    color: #FFF;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 105.688%; /* 16.91px */
    letter-spacing: 0.32px;
    padding: 0.6rem 1rem;
    margin: 0.3rem;
}
